<!-- the below tags close the respective tags opened in the header.ejs partial -->

<!-- this /div closes the .content-container div -->
</div>

<!-- this /div closes the .centered-container div -->
</div>

</body>
</html>