<%- include('./partials/header') %>

<div>
    <h1 class="homepage-title">
        Welcome To
    </h1>
    <h1 class="homepage-title">
        Snowboarding Skills Tracker
    </h1>
    <p class="homepage-sub-title">
        Track Your Snowboarding Progression!
    </p>
</div>

<%- include('./partials/footer') %>
