@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/homepage-photo.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

}

a {
  color: #00B7FF;
}

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  text-decoration: none;
}

.signin img {
  width: 30px;
}

/* Homepage CSS */

.homepage-title {
  font: 48px "Rubik Doodle Shadow";
  color: white;
  text-align: center;
}

.homepage-sub-title {
  font: 24px "Rubik Doodle Shadow";
  color: white;
  text-align: center;
}


/* Note: .homepage-container div needed to allow for .homepage card to be centered */
.homepage-container {
  text-align: center;
}

.homepage {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3vw;
  padding: 10px 20px;
  margin: 20px auto 0;
  display: inline-block;
}

.home-signin-btn > img, span {
  display: inline-block;
  vertical-align: middle;
}

.home-new-skill-btn {
  background-color: green;
  border-color: green;
  margin-left: 20px;
}

.user-home-btn {
  display: inline-block;
}


/* NavBar CSS */

a.nav-link {
  color: lightskyblue;
}

.nav-item.active {
  background-color: gold;
}

.nav-item.active > a {
  color: red;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand > img {
  width: 30px;
}

#navbarSupportedContent {
  justify-content: space-between;
  align-items: center;
}

#navbarSupportedContentNoUser {
  justify-content: flex-end;
}

.navbar {
  align-items: center;
}

#username-and-photo {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.authorization {
  align-items: center;
  gap: 8px;
}

#navbarSupportedContentNoUser .nav-item {
  margin-right: 10px;
}

