@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/homepage-photo.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

}

a {
  color: #00B7FF;
}

.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  text-decoration: none;
}

.signin img {
  width: 30px;
}

.page-title {
  font: 48px "Rubik Doodle Shadow";
  color: white;
  margin: 10px auto;
}

.content-container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 3vw;
  margin-top: 20px;
  text-align: center;
  display: inline-block;
}

/* Note: seemingly superfluous .centered-container div is needed to allow for .content-container to be centered */
.centered-container {
  text-align: center;
}

.form-label {
  font: 24px "Rubik Doodle Shadow";
  color: white;
}

.error-messages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  background-color: red;
  border-radius: 8px;
  color: white;
  padding: 10px;
  width: fit-content;
  margin-bottom: 5px;
}


/* NavBar CSS */

a.nav-link {
  color: lightskyblue;
}

.nav-item {
  border-radius: 6px;
}

.nav-item.active {
  background-color: gold;
}

.nav-item.active > a {
  color: red;
}

.nav-item > a {
  transition: color 0.8s;
}

.nav-item:hover > a {
  color: red;
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding-right: 10px;
  margin-right: 6px;
  margin-left: 8px;
  border-radius: 6px;
  transition: color 0.8s;
}

.navbar-brand:hover {
  color: red;
}

.navbar-brand.active {
  color: red;
  background-color: gold;
}

.navbar-brand > img {
  width: 30px;
}

#navbarSupportedContent {
  justify-content: space-between;
  align-items: center;
}

#navbarSupportedContentNoUser {
  justify-content: flex-end;
}

.navbar {
  align-items: center;
}

#username-and-photo {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.authorization {
  align-items: center;
  gap: 8px;
}

#navbarSupportedContentNoUser .nav-item {
  margin-right: 10px;
}



/* Homepage CSS */

.homepage-title {
  font: 48px "Rubik Doodle Shadow";
  color: white;
  text-align: center;
}

.homepage-sub-title {
  font: 24px "Rubik Doodle Shadow";
  color: white;
  text-align: center;
}

/* Note: seemingly superfluous .homepage-container div is needed to allow for .homepage card to be centered */
.homepage-container {
  text-align: center;
}

.homepage {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3vw;
  padding: 10px 20px;
  margin: 20px auto 0;
  display: inline-block;
}

.home-signin-btn > img, span {
  display: inline-block;
  vertical-align: middle;
}

.home-new-skill-btn {

  margin-left: 20px;
}

.user-home-btn {
  display: inline-block;
}


/* My Skills Page CSS */

.skills-table {
  text-align: center;
  border-collapse: collapse;
  vertical-align: middle;
  background-color: white;
  border-radius: 1.8vw;
  margin: 20px auto;
  width: auto;
}

.skills-table tr:first-child th:first-child {
  border-top-left-radius: 1.8vw;
}

.skills-table tr:first-child th:last-child {
  border-top-right-radius: 1.8vw;
}

.skills-table thead tr th {
  background-color: skyblue;
  height: 65px;
  vertical-align: middle;
}

.skills-table thead tr {
  background-color: skyblue;
}

#skill-column {
  width: 165px;
}

#difficulty-column {
  width: 165px;
}

#proficiency-column {
  width: 165px;
}

#interaction-column {
  width: 407px;
}

.skills-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 1.8vw;
}

.skills-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 1.8vw;
}

.skills-table tbody tr:nth-child(even) td {
  background-color: lightgray;
}

.skills-table tbody tr:nth-child(even) {
  background-color: lightgray;
}

.skills-table tbody td {
  height: 80px;
}

.skill-interaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.skills-table button {
  display: flex;
  align-items: center;
  gap: 10px;
}


/* Add Skill Page CSS */

.add-skill-form,
.edit-skill-form {
  margin-top: 20px;
}

.form-check-label {
  color: white;
}

.add-skill-form .btn {
  margin-top: -5px;
}

.Add.Skill-content-container {
  width: 700px;
}

.Add.Skill-content-container form div:first-child {
  margin-top: -5px;
}

.Add.Skill-content-container .mb-3 {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.Add.Skill-content-container .mb-3 .form-label {
  align-self: flex-start;
}

/* Show Skill Page CSS */

#show-page {
  margin-top: 25px;
}

#show-page h2,
#show-page h5 {
  color: white;
}

#show-page h2 {
  font: 26px "Rubik Doodle Shadow";
  text-align: left;
}

#show-page h5 {
  font: 20px "Rubik Doodle Shadow";
  text-align: left;
}

#show-page table {
  width: auto;
  margin: 0 auto 16px;
}

#show-page tr td:first-child {
  background-color: skyblue;
  font-weight: bold;
}

#show-page tr:first-child td:first-child {
  border-top-left-radius: 1vw;
}

#show-page tr:first-child td:last-child {
  border-top-right-radius: 1vw;
}

#show-page tbody tr:last-child td:last-child {
  border-bottom-right-radius: 1vw;
}

#show-page tbody tr:last-child td:first-child {
  border-bottom-left-radius: 1vw;
}

#show-page .skill-interaction {
  margin-bottom: 34px;
  margin-right: 0;
  justify-content: center;
  gap: 20px;
}

#show-page textarea {
  width: 100%;
}

.add-comment-btn {
  display: flex;
  justify-content: right;
  margin-bottom: 25px;
}

.skill-content-container {
  width: 700px;
}