<%- include('../partials/header') %>

    <form action="/snowboarding-skills" method="POST" class="add-skill-form">
        <div class="mb-3">
            <label class="form-label">Skill:</label>
            <input type="text" name="skill" class="form-control" autocomplete="off" placeholder="Enter Skill (Ex. Ollie, Boardslide, etc.)">
        </div>      

        <div class="mb-3">
        <label class="form-label">Difficulty Level:</label>
            <select name="difficultyLevel" class="form-select" aria-label="Default select example">
                <option value="" disabled selected>Select Difficulty Level</option>
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
                <option value="Expert">Expert</option>
            </select>
        </div>
        
        <div class="mb-3">
        <label class="form-label">My Proficiency Level:</label>
            <select name="myProficiency" class="form-select" aria-label="Default select example">
                <option value="" disabled selected>Select My Proficiency Level</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>


        <!-- <label class="form-label">My Proficiency Level:</label><br>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="0">
                <label class="form-check-label" for="0">0</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="1">
                <label class="form-check-label" for="1">1</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="2">
                <label class="form-check-label" for="2">2</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="3">
                <label class="form-check-label" for="3">3</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="4">
                <label class="form-check-label" for="4">4</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="5">
                <label class="form-check-label" for="5">5</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="6">
                <label class="form-check-label" for="6">6</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="7">
                <label class="form-check-label" for="7">7</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="8">
                <label class="form-check-label" for="8">8</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="9">
                <label class="form-check-label" for="9">9</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="10">
                <label class="form-check-label" for="10">10</label><br>
            </div> -->

            <br><br>

        <input type="submit" value="Add Skill" class="btn btn-primary">
    </form>
    <% if (errorMsg.length > 0) { %>
    <ul class="error-messages">
        <% errorMsg.forEach(function(error) { %>
            <li><%= error %></li>
        <% }); %>
    </ul>
    <% } %>


    <%- include('../partials/footer') %>