<%- include('../partials/header') %>

    <form action="/snowboarding-skills" method="POST">
        <div class="mb-3">
            <label class="form-label">Skill:</label>
            <input type="text" name="skill" class="form-control" autocomplete="off">
        </div>      

        <div class="mb-3">
        <label class="form-label">Difficulty Level:</label>
            <select name="difficultyLevel" class="form-select" aria-label="Default select example">
                <option value="Beginner">Beginner</option>
                <option value="Intermediate">Intermediate</option>
                <option value="Advanced">Advanced</option>
                <option value="Expert">Expert</option>
            </select>
        </div>

        <label class="form-label">Proficiency Level:</label><br>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="0">
                <label class="form-check-label" for="0">0</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="1">
                <label class="form-check-label" for="1">1</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="2">
                <label class="form-check-label" for="2">2</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="3">
                <label class="form-check-label" for="3">3</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="4">
                <label class="form-check-label" for="4">4</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="5">
                <label class="form-check-label" for="5">5</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="6">
                <label class="form-check-label" for="6">6</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="7">
                <label class="form-check-label" for="7">7</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="8">
                <label class="form-check-label" for="8">8</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="9">
                <label class="form-check-label" for="9">9</label><br>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" name="myProficiency" class="form-check-input" value="10">
                <label class="form-check-label" for="10">10</label><br>
            </div>

            <br><br>

        <input type="submit" value="Add Skill" class="btn btn-primary">
    </form>
    <p>
        <%= errorMsg %>
    </p>

    <%- include('../partials/footer') %>